<h1>Approved Posts</h1>

<% @posts.each do |post| %>
  <% if post.status == 'approved' %>
    <div class="post">
     <%= image_tag post.image.url if post.image? %>
      <h2><%= post.title %></h2>
      <p><%= post.description %></p>
      <div class="post-img">
        <%= form_with(model: post, url: publish_post_path(post), method: :patch) do |form| %>
          <%= form.submit "Publish", class: 'btn btn-success' %>
        <% end %>

        <%= form_with(model: post, url: reject_post_path(post), method: :patch) do |form| %>
          <%= form.submit "Reject", class: 'btn btn-danger' %>
        <% end %>
      </div>

    </div>
  <% end %>
<% end %>
